# Assignment Day-27
                 Done By:- Varinderjot Singh

Question 1:
Execute this code 3 times with iterator and generator expression and write down your findings.
import datetime
main_list = list(range(100000000))
t1 = datetime.datetime.now()
list1 = (each**2 for each in main_list)
for each in list1:
each
t2 = datetime.datetime.now()
print (t2-t1)

In [4]:
import datetime
main_list = list(range(100000000))
t1 = datetime.datetime.now()
list1 = (each**2 for each in main_list)
for each in list1:
  each
t2 = datetime.datetime.now()
print (t2-t1)

0:00:32.136968

In [5]:
import datetime
main_list = list(range(100000000))
t1 = datetime.datetime.now()
list1 = (each**2 for each in main_list)
for each in list1:
  each
t2 = datetime.datetime.now()
print (t2-t1)

0:00:31.143773

In [6]:
import datetime
main_list = list(range(100000000))
t1 = datetime.datetime.now()
list1 = (each**2 for each in main_list)
for each in list1:
  each
t2 = datetime.datetime.now()
print (t2-t1)

0:00:31.046775